server:
  servlet:
    context-path: /api

spring:
  application:
    name: community

  datasource:
    url: jdbc:mysql://mysql:3306/community?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DOCKER_DB_USERNAME}
    password: ${DOCKER_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      password:

  thymeleaf:
    cache: true

  servlet:
    multipart:
      max-file-size: 10MB       # 파일 하나의 최대 크기
      max-request-size: 30MB    # 요청 전체 크기 (파일 여러 개 업로드 시 합산)

auth:
  type: jwt

jwt:
  expirationtime:
    accessTtl: 1800 # 30분
    refreshTtl: 604800 # 7일
  secret: ${JWT_SECRET}

session:
  sessionTtl: 1800

#logging:
#  level:
#    org.hibernate.SQL: debug

upload-dir:
  image: uploads/images

cors:
  allowedOrigins:
    - https://amumal.duckdns.org

# docker run -d --name back --network myapp-network  -p 8080:8080 -e CORS_ALLOWED-ORIGINS="http://3.36.4.46:3000" -e SPRING_DATASOURCE_URL="jdbc:mysql://community-mysql:3306/community?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true"  seonjun1/community-back:0.2